<!--
    HTML view file for contact us page
--> 

<div class="container">
    <div class ="row">
        <h3 class="text-center">Contact Us</h3>
            
            <div class="col-md-4 col-md-offset-4">
                <!-- originally had flash.each loop here but moved to
                application.html.erb so that it'll show flashes on any page, not just
                contacts page-->
                <div class="well">
                    <!-- Can add class fields to the RAILS text fields-->
                    <%= form_for @contact do |f| %>
                    <!--Changed from "/contacts" to isntance variable in 
                    controller file-->
                        <div class="form-group">
                            <%= f.label :name %>
                            <%= f.text_field :name, class: 'form-control' %>
                        </div>
                        
                        <div class="form-group">
                            <%= f.label :email %>
                            <%= f.text_field :email, class: 'form-control' %>
                        </div>    
                        
                        <div class="form-group">
                            <%= f.label :comments %>
                            <%= f.text_area :comments, class: 'form-control' %>
                        </div>
                        <!-- Put form-group div class on each entry, 
                        not the whole form. Doing so made them on their
                        own lines-->
                    
                        <%= f.submit 'Submit', class: 'btn btn-default' %>
                    <% end %>
                </div>
            </div>
    </div>
</div> 